name: Build CachyOS Haswell Kernel

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    container: archlinux:latest

    steps:
      - name: Install Base Tools
        run: |
          pacman -Syu --noconfirm --needed base-devel git llvm clang lld wget bc cpio pahole python rust rust-bindgen rust-src


      - name: Clone CachyOS PKGBUILD Repo
        run: |
          git clone https://github.com/CachyOS/linux-cachyos.git workdir
      
      - name: Configure for Ultimate Performance
        working-directory: ./workdir/linux-cachyos
        run: |
          # 1. Set Architecture to Haswell (v3)
          sed -i 's/_march="x86-64-v3"/_march="x86-64-v3"/g' PKGBUILD
          
          # 2. Download Source
          useradd builduser -m
          chown -R builduser:builduser .
          su builduser -c "makepkg --nobuild --skipinteg"
          
          cd $(find src -maxdepth 1 -type d -name "linux-*" | head -n 1)

          
          # --- MITIGATIONS (DISABLE ALL) ---
          scripts/config --disable CONFIG_PAGE_TABLE_ISOLATION
          scripts/config --disable CONFIG_RETPOLINE
          scripts/config --disable CONFIG_CPU_IBPB_ENTRY
          scripts/config --disable CONFIG_CPU_IBRS_ENTRY
          scripts/config --disable CONFIG_SLS
          scripts/config --set-str CONFIG_CMDLINE "mitigations=off"
          scripts/config --enable CONFIG_CMDLINE_BOOL
          
          # --- PERFORMANCE & GOVERNOR ---
          scripts/config --enable CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE
          scripts/config --disable CONFIG_CC_OPTIMIZE_FOR_SIZE
          scripts/config --disable CONFIG_CPU_FREQ_DEFAULT_GOV_SCHEDUTIL
          scripts/config --disable CONFIG_CPU_FREQ_DEFAULT_GOV_POWERSAVE
          scripts/config --enable CONFIG_CPU_FREQ_DEFAULT_GOV_PERFORMANCE
          scripts/config --enable CONFIG_X86_INTEL_PSTATE
          
          # --- LTO (Link Time Optimization) ---
          scripts/config --enable CONFIG_LTO_CLANG
          scripts/config --enable CONFIG_LTO_CLANG_THIN
          scripts/config --disable CONFIG_LTO_CLANG_FULL
          
          # --- BLOAT REMOVAL & DEBUGGING ---
          scripts/config --disable CONFIG_DEBUG_INFO
          scripts/config --disable CONFIG_DEBUG_KERNEL
          scripts/config --disable CONFIG_DEBUG_MISC
          scripts/config --disable CONFIG_FTRACE
          scripts/config --disable CONFIG_KALLSYMS
          scripts/config --disable CONFIG_SECURITY_DMESG_RESTRICT
          scripts/config --disable CONFIG_DRM_AMDGPU
          scripts/config --disable CONFIG_DRM_NOUVEAU
          
          # --- DOCKER SUPPORT ---
          scripts/config --enable CONFIG_NAMESPACES
          scripts/config --enable CONFIG_NET_NS
          scripts/config --enable CONFIG_PID_NS
          scripts/config --enable CONFIG_IPC_NS
          scripts/config --enable CONFIG_UTS_NS
          scripts/config --enable CONFIG_CGROUPS
          scripts/config --enable CONFIG_CGROUP_CPUACCT
          scripts/config --enable CONFIG_CGROUP_DEVICE
          scripts/config --enable CONFIG_CGROUP_FREEZER
          scripts/config --enable CONFIG_CGROUP_SCHED
          scripts/config --enable CONFIG_CPUSETS
          scripts/config --enable CONFIG_MEMCG
          scripts/config --enable CONFIG_KEYS
          scripts/config --enable CONFIG_VETH
          scripts/config --enable CONFIG_BRIDGE
          scripts/config --enable CONFIG_BRIDGE_NETFILTER
          scripts/config --enable CONFIG_NF_NAT_IPV4
          scripts/config --enable CONFIG_IP_NF_FILTER
          scripts/config --enable CONFIG_IP_NF_TARGET_MASQUERADE
          scripts/config --enable CONFIG_NETFILTER_XT_MATCH_ADDRTYPE
          scripts/config --enable CONFIG_NETFILTER_XT_MATCH_CONNTRACK
          scripts/config --enable CONFIG_NETFILTER_XT_MATCH_IPVS
          scripts/config --enable CONFIG_IP_NF_NAT
          scripts/config --enable CONFIG_NF_NAT
          scripts/config --enable CONFIG_NF_NAT_NEEDED
          scripts/config --enable CONFIG_POSIX_MQUEUE
          
          # --- TETHERING ---
          scripts/config --enable CONFIG_USB_NET_RNDIS_HOST
          scripts/config --enable CONFIG_USB_NET_CDCETHER
          
          # Validate config
          make olddefconfig

      - name: Compile Kernel
        working-directory: ./workdir/linux-cachyos
        run: |
          chown -R builduser:builduser .
          su builduser -c "makepkg --noextract --noprepare --skipinteg -s --noconfirm"

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: cachyos-haswell-kernel
          path: |
            workdir/linux-cachyos/*.pkg.tar.zst
