      - name: Configure for Ultimate Performance
        working-directory: ./workdir/linux-cachyos
        run: |
          # 1. Set Architecture to Haswell (v3)
          sed -i 's/_march="x86-64-v3"/_march="x86-64-v3"/g' PKGBUILD
          
          # 2. Download Source
          useradd builduser -m
          chown -R builduser:builduser .
          su builduser -c "makepkg --nobuild --skipinteg"
          
          cd src/linux-*
          
          # --- MITIGATIONS (DISABLE ALL) ---
          # "Make it unsafe but fast"
          scripts/config --disable CONFIG_PAGE_TABLE_ISOLATION
          scripts/config --disable CONFIG_RETPOLINE
          scripts/config --disable CONFIG_CPU_IBPB_ENTRY
          scripts/config --disable CONFIG_CPU_IBRS_ENTRY
          scripts/config --disable CONFIG_SLS
          # Add 'mitigations=off' to command line default
          scripts/config --set-str CONFIG_CMDLINE "mitigations=off"
          scripts/config --enable CONFIG_CMDLINE_BOOL
          
          # --- PERFORMANCE & GOVERNOR ---
          scripts/config --enable CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE
          # Force -O3 (Might require patch in some kernels, but we set the intent)
          scripts/config --disable CONFIG_CC_OPTIMIZE_FOR_SIZE
          # Default Governor: Performance
          scripts/config --disable CONFIG_CPU_FREQ_DEFAULT_GOV_SCHEDUTIL
          scripts/config --disable CONFIG_CPU_FREQ_DEFAULT_GOV_POWERSAVE
          scripts/config --enable CONFIG_CPU_FREQ_DEFAULT_GOV_PERFORMANCE
          # P-States (Intel)
          scripts/config --enable CONFIG_X86_INTEL_PSTATE
          
          # --- LTO (Link Time Optimization) ---
          scripts/config --enable CONFIG_LTO_CLANG
          scripts/config --enable CONFIG_LTO_CLANG_THIN
          scripts/config --disable CONFIG_LTO_CLANG_FULL
          
          # --- BLOAT REMOVAL & DEBUGGING ---
          scripts/config --disable CONFIG_DEBUG_INFO
          scripts/config --disable CONFIG_DEBUG_KERNEL
          scripts/config --disable CONFIG_DEBUG_MISC
          scripts/config --disable CONFIG_FTRACE
          scripts/config --disable CONFIG_KALLSYMS
          scripts/config --disable CONFIG_SECURITY_DMESG_RESTRICT
          # GPU Stripping
          scripts/config --disable CONFIG_DRM_AMDGPU
          scripts/config --disable CONFIG_DRM_NOUVEAU
          
          # --- DOCKER SUPPORT (Essential) ---
          scripts/config --enable CONFIG_NAMESPACES
          scripts/config --enable CONFIG_NET_NS
          scripts/config --enable CONFIG_PID_NS
          scripts/config --enable CONFIG_IPC_NS
          scripts/config --enable CONFIG_UTS_NS
          scripts/config --enable CONFIG_CGROUPS
          scripts/config --enable CONFIG_CGROUP_CPUACCT
          scripts/config --enable CONFIG_CGROUP_DEVICE
          scripts/config --enable CONFIG_CGROUP_FREEZER
          scripts/config --enable CONFIG_CGROUP_SCHED
          scripts/config --enable CONFIG_CPUSETS
          scripts/config --enable CONFIG_MEMCG
          scripts/config --enable CONFIG_KEYS
          scripts/config --enable CONFIG_VETH
          scripts/config --enable CONFIG_BRIDGE
          scripts/config --enable CONFIG_BRIDGE_NETFILTER
          scripts/config --enable CONFIG_NF_NAT_IPV4
          scripts/config --enable CONFIG_IP_NF_FILTER
          scripts/config --enable CONFIG_IP_NF_TARGET_MASQUERADE
          scripts/config --enable CONFIG_NETFILTER_XT_MATCH_ADDRTYPE
          scripts/config --enable CONFIG_NETFILTER_XT_MATCH_CONNTRACK
          scripts/config --enable CONFIG_NETFILTER_XT_MATCH_IPVS
          scripts/config --enable CONFIG_IP_NF_NAT
          scripts/config --enable CONFIG_NF_NAT
          scripts/config --enable CONFIG_NF_NAT_NEEDED
          scripts/config --enable CONFIG_POSIX_MQUEUE
          
          # --- TETHERING (Internet Fix) ---
          scripts/config --enable CONFIG_USB_NET_RNDIS_HOST
          scripts/config --enable CONFIG_USB_NET_CDCETHER
          
          # Validate config
          make olddefconfig
